body{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;

}
.wrap{

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.post-card{
    width: 150px;
    height: 400px;
    border: 2px solid black;
    background: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;

}